.button1 {
  background-color: dark-green; 
  color: black; 
  border: 2px solid #4CAF50;
  height:200px;
  width:200px;
}

.button1:hover {
  background-color: #4CAF50;
  color: white;
  height:200px;
  width:200px;
}

